.main-products-admin-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

app-product {
    margin: auto;
}