mat-toolbar {
    justify-content: space-between;
}

.nav-bar-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-search, .nav-bar-search input {
    width: 70%;
}

.nav-bar-search input {
    max-width: 700px;
    margin-left: var(--mercury-space-2);
}

.nav-bar-search mat-icon {
    position: relative;
    left: 55px;
    color: var(--mercury-primary);
}

@media (min-width: 576px) { }

@media (min-width: 768px) {
    mat-toolbar {
        margin-bottom: var(--mercury-space-3);
    }    
}

@media (min-width: 992px) {}

@media (min-width: 1200px) { }

@media (min-width: 1400px) {}
