.product-info-container {
    display: flex;
    flex-direction: column;
}

.product-info-container .column {
    aspect-ratio: 1;
}

.product-image {
    border: 1px solid red;
}

.product-image, .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 576px) {
    .product-info-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 768px) {

    .product-info-container .column {
    }

    .product-image {
    }
}

@media (min-width: 1200px) {
}