<form id="addProduct" class="main-form" [formGroup]="addProductForm" (ngSubmit)="null">
    <div class="left-column column">
        <div class="nf-container">
            <div class="group">
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre producto" formControlName="name">
                </mat-form-field>

                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Visible</mat-label>
                    <mat-select formControlName="visible">
                        <mat-option [value]="true">Si</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="image-container">
                <input type="file" name="image" ng2FileSelect [uploader]="uploader">
                <button mat-stroked-button type="button" (click)="upload()">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
            </div>
        </div>
    
        <div class="dcp-container">
            <mat-form-field color="accent" appearance="fill" class="description">
                <mat-label>Descripcion</mat-label>
                <textarea matInput placeholder="Descripcion del producto" rows="5" cols="1" formControlName="description"></textarea>
            </mat-form-field>
    
            <div class="group">
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Categorias</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category._id">
                          {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input type="number" matInput min="0" formControlName="price">
                </mat-form-field>
            </div>
        </div>

        <div class="optional-params-container">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Atributos</mat-label>
                <mat-select [(value)]="(product.attributes) ? product.attributes : hasAttributes">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Sub productos</mat-label>
                <mat-select [(value)]="(product.product_nodes) ? product.product_nodes : hasSubProducts">
                    <mat-option [value]="true">Si</mat-option>
                    <mat-option [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="attributes-container optional-container" *ngIf="hasAttributes">
        <p class="title">Atributos</p>
        <div class="group">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Color</mat-label>
                <input matInput formControlName="color">
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Material</mat-label>
                <input matInput formControlName="material">
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Peso</mat-label>
                <input type="number" matInput min="0" formControlName="weight">
            </mat-form-field>
        </div>

        <div class="group">
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Anchura</mat-label>
                <input type="number" matInput min="0" formControlName="width">
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <mat-label>Altura</mat-label>
                <input type="number" matInput min="0" formControlName="height">
            </mat-form-field>
        </div>
    </div>

    <div class="sub-products-container optional-container" *ngIf="hasSubProducts">
        <p class="title">Sub productos</p>
        <div class="product-selection">
            <div class="inputs">
                <form #subProduct = "ngForm" (ngSubmit) = "addSubProduct(subProduct)">
                    <mat-form-field color="accent" appearance="fill" required>
                        <mat-label>Productos</mat-label>
                        <mat-select name="selection" ngModel>
                            <mat-option *ngFor="let product of products" [value]="{id: product._id, name: product.name}">
                              {{product.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput min="1" value="1" name="quantity" ngModel>
                    </mat-form-field>
    
                    <button mat-raised-button color="accent">Agregar</button>
                </form>
            </div>

            <div class="products-list">
                <div class="product" *ngFor="let subProduct of productsToAppend">
                    <div class="data">
                        {{subProduct.name}}
                        ({{subProduct.quantity}})
                    </div>
                    <mat-icon (click)="removeSubProduct(subProduct.fk_product)">delete</mat-icon>
                </div>
            </div>  
        </div>
    </div>

    <div class="right-column column">

    </div>
</form>
