app-gallery {
    flex: 1 1 100%;
}

.section {
    display: flex;
    gap: var(--mercury-space-2);
    flex-direction: column;
    margin: var(--mercury-space) 0;
    padding: var(--mercury-space-1);
}

.section .column {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 6px 15px -3px rgba(0,0,0,0.15);
    padding: var(--mercury-space-1);
}

.primary-section .left-column {
    flex: 0 0 35%;
}

.primary-section .right-column {
    flex: 1 1 65%;
}

@media (min-width: 576px) { }

@media (min-width: 768px) {
    .main-home-container {
        padding: 0 var(--mercury-space-2);
    }

    .section {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .primary-section {
        flex-direction: row;
    }

    .primary-section .left-column {
        max-width: 600px;
    }
}

@media (min-width: 1200px) { }

@media (min-width: 1400px) {}